
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap');

*{
  box-sizing: border-box;

}
body{
  font-family: 'Inter', sans-serif;
}
#root{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
  gap: 20px;
  margin: 0;
  flex-wrap: wrap;
}
h3{
  margin: 0;
  padding-top: 10px;
}
h5{
  margin: 5px 0px;
  text-transform: uppercase;
}
p{
  line-height: 20px;
  text-align: center;
  font-size: 18px;
}

.card-container{
  display: flex;
  flex-direction: column;
  
  align-items: center;
  padding: 20px;
  background-color: cornflowerblue;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0,0,0);
  width: 350px;
  max-width: 100%;
  text-align: center;
  position: relative;
  height: 550px;
}
.pro.online{
  position: absolute;
  background: greenyellow;
  padding: 5px;
  border-radius: 5px;
  top: 10px;
  left: 10px;
}
.pro.offline{
  position: absolute;
  background: yellow;
  padding: 5px;
  border-radius: 5px;
  top: 10px;
  left: 10px;
}
.image{
  border-radius: 50%;
  border: 5px solid red;
  padding: 4px;
  width: 180px;
}
button.primary{
  border-radius: 5px;
  padding: 10px 25px;
  background-color: burlywood;
  margin: 4px;
  font-weight: 500;
  cursor: pointer;
}
button.primary.outline{
  background-color: transparent;
  color: #f0f0f0;
  cursor: pointer;
}
.skills{
  text-align: left;
  padding: 15px;
  margin-top: 15px;
  text-transform: uppercase;
}
.skills ul{
  list-style: none;
  text-align: left;
  margin: 0;
  padding: 0;
}
.skills ul li{
  padding: 5px;
  margin: 5px;
  display: inline-block;
  border: solid white 1px;
  border-radius: 4px;
}
.card{
  display: flex;
}
